<template name="SideNav">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="#"><i class="fa fa-fw fa-dashboard"></i> Home</a>
            </li>
            <li>
                <a href="/setup"><i class="fa fa-fw fa-gears"></i> Setup</a>
            </li>
            <li>
                <a href="/asset"><i class="fa fa-fw fa-desktop"></i> Asset</a>
            </li>
            <li>
                <a href="/report"><i class="fa fa-fw fa-bar-chart"></i> Report</a>
            </li>
            <li>
                <a href="/help"><i class="fa fa-fw fa-question"></i> Help</a>
            </li>
        </ul>
    </div>
</template>