<template name="TopMenu">
    <li class="active"><a href="#comdeptsection" data-toggle="tab">Company</a></li>
    <li>
        <a href="">Category</a>
    </li>
    <li>
        <a href="">Measurement | Brand | Model</a>
    </li>
    <li>
        <a href="">Status | Condition | Account</a>
    </li>
    <li>
        <a href="">Currency</a>
    </li>
    <li>
        <a href="">Site</a>
    </li>
    <li>
        <a href="">Asset User</a>
    </li>
    <li>
        <a href="">Depreciation</a>
    </li>
</template>