<template name="Home">
    {{> Header }}
    <main class="main-layout">
        <p>
            <b>LemonFX</b> is a Fix Asset Tracking System software.<br>
            Dedicated to help you manage and track your fixed assets easily.
            With this computer aided fixed asset system, you can
        <ol>
            <li>Register your asset from your computer or mobile device</li>
            <li>Bulk Register your assets</li>
            <li>Import your existing assets to this system</li>
            <li>Monitor your assets and their depreciation via reports and alerts</li>
            <li>Maintain your assets with asset maintenance reminder</li>
            <li>Asset opname with barcode scanner synchronizing system</li>
        </ol>
        </p>
        <label class="btn btn-primary btn-large"><b>SIGN UP FOR EARLY ACCESS NOW</b></label>
    </main>
</template>