<template name="Setup">
    <div class="row-fluid">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">DATA SETUP</div></div>
                <!-- nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#comdeptsection" data-toggle="tab">Company</a></li>
                    <li><a href="#categoriesection" data-toggle="tab">Category | Sub Category | Item</a></li>
                    <li><a href="#measurementsection" data-toggle="tab">Measurement | Brand | Model</a></li>
                    <li><a href="#statusection" data-toggle="tab">Status | Condition | Account</a></li>
                    <li><a href="#currencysection" data-toggle="tab">Currency</a></li>
                    <li><a href="#sitesection" data-toggle="tab">Site</a></li>
                    <li><a href="#asusection" data-toggle="tab">Asset User</a></li>
                    <li><a href="#deprecsection" data-toggle="tab">Depreciation</a></li>
                </ul>
                <div class="panel-body">
                    <!-- tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="comdeptsection">
                            <div class="row-fluid">
                                <div class="col-sm-7">
                                    {{> comtemplate}}
                                </div>
                                <div class="col-sm-5">
                                    {{> deptemplate}}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="categoriesection">
                            <div class="row-fluid">
                                <div class="col-sm-4">
                                    {{> cattemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> subcattemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> itemtemplate}}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="measurementsection">
                            <div class="row-fluid">
                                <div class="col-sm-4">
                                    {{> meastemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> brandtemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> modeltemplate}}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="statusection">
                            <div class="row-fluid">
                                <div class="col-sm-4">
                                    {{> statustemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> condtemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> acctemplate}}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="currencysection">
                            <div class="row-fluid">
                                <div class="col-sm-12">
                                    {{> currtemplate}}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="sitesection">
                            <div class="row-fluid">
                                <div class="col-sm-4">
                                    {{> sitetemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> bldgtemplate}}
                                </div>
                                <div class="col-sm-4">
                                    {{> loctemplate}}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="asusection">
                            {{> asustemplate}}
                        </div>

                        <div class="tab-pane" id="deprecsection">
                            <div class="row-fluid">
                                <div class="col-sm-4">
                                    {{> dgtemplate}}
                                </div>
                                <div class="col-sm-8">
                                    {{> dctemplate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

